* {
    primary: #b9c3ff;
    primary-fixed: #dde1ff;
    primary-fixed-dim: #b9c3ff;
    on-primary: #172358;
    on-primary-fixed: #08164b;
    on-primary-fixed-variant: #374278;
    primary-container: #566199;
    on-primary-container: #ffffff;
    secondary: #c3c5dd;
    secondary-fixed: #dfe1f9;
    secondary-fixed-dim: #c3c5dd;
    on-secondary: #232739;
    on-secondary-fixed: #171b2c;
    on-secondary-fixed-variant: #414558;
    secondary-container: #606378;
    on-secondary-container: #ffffff;
    tertiary: #e5bad8;
    tertiary-fixed: #ffd7f3;
    tertiary-fixed-dim: #e5bad8;
    on-tertiary: #3a1e35;
    on-tertiary-fixed: #2d1228;
    on-tertiary-fixed-variant: #5b3b54;
    tertiary-container: #7c5a74;
    on-tertiary-container: #ffffff;
    error: #ffb4ab;
    on-error: #580003;
    error-container: #c32220;
    on-error-container: #ffffff;
    surface: #121318;
    on-surface: #e8e6ed;
    on-surface-variant: #c6c5d0;
    outline: #96959f;
    outline-variant: #63646d;
    shadow: #000000;
    scrim: #000000;
    inverse-surface: #e3e1e9;
    inverse-on-surface: #303036;
    inverse-primary: #49548a;
    surface-dim: #121318e6;
    surface-bright: #3d3d43;
    surface-container-lowest: #0b0b10;
    surface-container-low: #1b1c21;
    surface-container: #222228;
    surface-container-high: #2d2d33;
    surface-container-highest: #38383e;
}
