* {
    primary: #eac16c;
    primary-fixed: #ffdea0;
    primary-fixed-dim: #eac16c;
    on-primary: #352500;
    on-primary-fixed: #261a00;
    on-primary-fixed-variant: #5b4200;
    primary-container: #7f5f13;
    on-primary-container: #ffffff;
    secondary: #d8c4a0;
    secondary-fixed: #f5e0bb;
    secondary-fixed-dim: #d8c4a0;
    on-secondary: #32260e;
    on-secondary-fixed: #241a04;
    on-secondary-fixed-variant: #524429;
    secondary-container: #726245;
    on-secondary-container: #ffffff;
    tertiary: #b1cfa9;
    tertiary-fixed: #ccebc4;
    tertiary-fixed-dim: #b1cfa9;
    on-tertiary: #152d13;
    on-tertiary-fixed: #082008;
    on-tertiary-fixed-variant: #324c2f;
    tertiary-container: #506b4c;
    on-tertiary-container: #ffffff;
    error: #ffb4ab;
    on-error: #580003;
    error-container: #c32220;
    on-error-container: #ffffff;
    surface: #17130b;
    on-surface: #f0e5d8;
    on-surface-variant: #d0c5b4;
    outline: #9f9585;
    outline-variant: #6c6355;
    shadow: #000000;
    scrim: #000000;
    inverse-surface: #ebe1d4;
    inverse-on-surface: #353027;
    inverse-primary: #705203;
    surface-dim: #17130be6;
    surface-bright: #433d34;
    surface-container-lowest: #0f0b05;
    surface-container-low: #201c14;
    surface-container: #27221a;
    surface-container-high: #322d24;
    surface-container-highest: #3d382e;
}
