* {
    primary: #b0baff;
    primary-fixed: #dee0ff;
    primary-fixed-dim: #bac3ff;
    on-primary: #202a5f;
    on-primary-fixed: #0a154b;
    on-primary-fixed-variant: #394379;
    primary-container: #444e85;
    on-primary-container: #ffffff;
    secondary: #c3c5dd;
    secondary-fixed: #dfe1f9;
    secondary-fixed-dim: rgba(237, 239, 255, 0.8);
    on-secondary: #2b2e40;
    on-secondary-fixed: #171a2c;
    on-secondary-fixed-variant: #434659;
    secondary-container: #4e5165;
    on-secondary-container: #ffffff;
    tertiary: #e5bad8;
    tertiary-fixed: #ffd7f1;
    tertiary-fixed-dim: #e5bad8;
    on-tertiary: #42253c;
    on-tertiary-fixed: #2d1228;
    on-tertiary-fixed-variant: #5d3c55;
    tertiary-container: #694760;
    on-tertiary-container: #ffffff;
    error: #ffb4ab;
    on-error: #660004;
    error-container: #a7060f;
    on-error-container: #ffffff;
    surface: #121318;
    on-surface: #e3e1e9;
    on-surface-variant: #c6c5d0;
    outline: #90909a;
    outline-variant: #51515a;
    shadow: #000000;
    scrim: #000000;
    inverse-surface: #e3e1e9;
    inverse-on-surface: #303036;
    inverse-primary: #515b92;
    surface-dim: #15161cCC;
    surface-bright: #3b3b41;
    surface-container-lowest: #0c0d12;
    surface-container-low: #1b1c21;
    surface-container: #202126;
    surface-container-high: #2b2b31;
    surface-container-highest: #36363c;
}
