layout {
	background-color "{{colors.background.default.hex}}"

    focus-ring {
        active-color "{{colors.secondary.default.hex}}"
        inactive-color "{{colors.outline.default.hex}}"
        urgent-color   "{{colors.error.default.hex}}"
    }
    tab-indicator {
        active-color   "{{colors.primary.default.hex}}"
        inactive-color "{{colors.outline.default.hex}}"
        urgent-color   "{{colors.error.default.hex}}"
    }

    insert-hint {
        color "{{colors.primary.default.hex}}80"
    }
}

overview {
	backdrop-color "{{colors.background.default.hex}}"
}
