* {
    primary: #99c3fe;
    primary-fixed: #d3e4ff;
    primary-fixed-dim: #a3c9fe;
    on-primary: #003058;
    on-primary-fixed: #001c38;
    on-primary-fixed-variant: #1e4876;
    primary-container: #2b5481;
    on-primary-container: #ffffff;
    secondary: #bbc7db;
    secondary-fixed: #d7e3f8;
    secondary-fixed-dim: rgba(213, 231, 255, 0.8);
    on-secondary: #24303f;
    on-secondary-fixed: #111c2b;
    on-secondary-fixed-variant: #3c4758;
    secondary-container: #475363;
    on-secondary-container: #ffffff;
    tertiary: #d8bde3;
    tertiary-fixed: #f5d9ff;
    tertiary-fixed-dim: #d8bde3;
    on-tertiary: #3a2745;
    on-tertiary-fixed: #261431;
    on-tertiary-fixed-variant: #543f5e;
    tertiary-container: #5f4a6a;
    on-tertiary-container: #ffffff;
    error: #ffb4ab;
    on-error: #660004;
    error-container: #a7060f;
    on-error-container: #ffffff;
    surface: #111418;
    on-surface: #e1e2e8;
    on-surface-variant: #c3c6cf;
    outline: #8d9199;
    outline-variant: #4e5259;
    shadow: #000000;
    scrim: #000000;
    inverse-surface: #e1e2e8;
    inverse-on-surface: #2e3035;
    inverse-primary: #39608f;
    surface-dim: #14181cCC;
    surface-bright: #393b40;
    surface-container-lowest: #0a0d11;
    surface-container-low: #191c21;
    surface-container: #1f2126;
    surface-container-high: #292c31;
    surface-container-highest: #34373c;
}
