* {
    font-family: "JetBrainsMono Nerd Font Propo", monospace;
    font-size: 15px;
    border: none;
    border-radius: 0;
    min-height: 0;
}

@import "colors.css";

window#waybar {
    background-color: alpha(@base, 0.8);
    color: @text;
    transition: background-color 0.3s ease;
    border-radius: 0px;
}

window#waybar.hidden {
    opacity: 0.3;
}


.modules-left,
.modules-center,
.modules-right {
    padding: 0 4px;
}



#workspaces button {
    padding: 0 8px;
    color: @primary;
    background-color: transparent;
    box-shadow: none;
}

#workspaces button.empty {
    color: @text;
    opacity: 0.35;
}

#workspaces button:hover {
    color: @primary;
    opacity: 1;
}

#workspaces button.active {
    background :@primary;
    border-radius: 0px;
    color: @base;
}

#workspaces button.urgent {
    color: @text;
    border-bottom: 2px solid alpha(@text, 0.70);
    animation: blink 0.8s step-end infinite;
}

@keyframes blink {
    50% { opacity: 0.4; }
}

#battery {
    background-color: alpha(@secondary, 0.10);
    border-radius: 0px;
    margin: 4px 0;
    padding: 2 10px;
    color: @secondary;
    border: 1px solid @primary;
}

#battery.charging,
#battery.plugged {
    color: @text;
}

#battery.warning:not(.charging) {
    color: alpha(@text, 0.75);
}

#battery.critical:not(.charging) {
    color: @text;
    background-color: alpha(@error, 1);
    color: @base;
}

#memory {
    background-color: alpha(@secondary, 0.10);
    border-radius: 0px;
    margin: 2px 0;
    padding: 4 1px;
    border: 1px solid @primary;
}
#temperature {
    background-color: alpha(@secondary, 0.10);
    border-radius: 0px;
    margin: 2px 0;
    padding: 4 1px;
    border: 1px solid @primary;
}

#temperature.critical {
    animation: blink 1s step-end infinite;
    border: 1px solid @primary;
    background-color: alpha(@secondary, 0.100);
    margin: 2px 0;
    padding: 4 1px;
}


#pulseaudio.microphone {
    background-color: alpha(@secondary, 0.10);
    border-radius: 0px;
    margin: 2px 0;
    padding: 4 1px;
    border: 1px solid @primary;   
}

#pulseaudio.microphone.source-muted {
    color: alpha(@text, 0.40);
}

#network {
    background-color: alpha(@secondary, 0.10);
    border-radius: 0px;
    margin: 2px 0;
    padding: 4 1px;
    border: 1px solid @primary;
}

#network.disconnected {
    padding: 0 4px;
    border: 1px solid @primary;
    background-color: alpha(@secondary, 0.100);
    margin: 4px 0;
}


#custom-dunst {
    padding: 0 4 0 4px;
    border-radius: 0px;
    margin: 4px 0;
    background-color: alpha(@error, 1);
    color: @base;

}

#custom-caf-waybar{
    background-color: alpha(@secondary, 0.10);
    border-radius: 0px;
    margin: 2px 0;
    padding: 4 1px;
    color: @tertiary;
    border: 1px solid @primary;
}

#custom-light {
    background-color: alpha(@secondary, 0.10);
    border-radius: 0px;
    margin: 2px 0;
    padding: 2 10px;
    color: @primary;
    border: 1px solid @primary;
}

#custom-volume {
    background-color: alpha(@secondary, 0.10);
    border-radius: 0px;
    margin: 2px 0;
    padding: 2 10px;
    color: @tertiary;
    border: 1px solid @primary;
}

#custom-ppd {
    background-color: alpha(@secondary, 0.05);
    border-radius: 0px;
    margin: 2px 0;
    padding: 4 1px;
    color: @primary;
    border: 1px solid @primary;
}
#mpris {
    padding: 0 2px;
    font-style: normal;
}

#mpris label {
    color: @text;
}

#clock {
    background-color: alpha(@secondary, 0.10);
    border-radius: 0px;
    margin: 2px 0;
    padding: 4 1px;
    border: 1px solid @primary;
}

#mpris {
    border-radius: 0px;
    margin: 4px 0;
    padding: 0 6px;  
    background-color: alpha(@secondary, 0.100);
}

#workspaces {
    background-color: alpha(@secondary, 0.10);
    border-radius: 0px;
    margin: 2px 0;
    padding: 2 1px;
    border: 1px solid @primary;
}

tooltip {
    background-color: @base;
    border: 1px solid alpha(@secondary, 0.100);
    color: @secondary;
}

tooltip label {
    color: @text;
}
