layout {
	background-color "#101418"

    focus-ring {
        active-color "#b9c8da"
        inactive-color "#92979e"
        urgent-color   "#ffb4ab"
    }
    tab-indicator {
        active-color   "#9dcbfb"
        inactive-color "#92979e"
        urgent-color   "#ffb4ab"
    }

    insert-hint {
        color "#9dcbfb80"
    }
}

overview {
	backdrop-color "#101418"
}
