layout {
	background-color "#111318"

    focus-ring {
        active-color "#bcc7db"
        inactive-color "#8d9199"
        urgent-color   "#ffb4ab"
    }
    tab-indicator {
        active-color   "#a4c9fe"
        inactive-color "#8d9199"
        urgent-color   "#ffb4ab"
    }

    border {
        active-color   "#a4c9fe"
        inactive-color "#111318e6"
        urgent-color   "#ffb4ab"
    }
    insert-hint {
        color "#a4c9fe80"
    }
}
overview {
	backdrop-color "#111318"
}

recent-windows {
    highlight {
        active-color "#a4c9fe"
        urgent-color "#ffb4ab"
    }
}
