include "~/.config/niri/colors.kdl"
include "~/.config/niri/inputs.kdl"
include "~/.config/niri/outputs.kdl"
include "~/.config/niri/layout.kdl"
include "~/.config/niri/startup.kdl"
include "~/.config/niri/rules.kdl"
include "~/.config/niri/binds.kdl"

prefer-no-csd

// debug {
//     render-drm-device "/dev/dri/renderD129"
//     ignore-drm-device "/dev/dri/renderD128"
// }

hotkey-overlay {
    skip-at-startup
}

screenshot-path "~/pics/ss/%d-%m-%Y_%H:%M.png"
