input {
    keyboard {
        xkb {
            options "caps:escape"
        }
        numlock
        repeat-delay 300
        repeat-rate 50
    }
    touchpad {
        tap
        natural-scroll
        accel-speed 0.2
    }
    mouse {
    }

    trackpoint {
   }
    focus-follows-mouse max-scroll-amount="1%"
}

gestures {
    hot-corners { off; }
}
