overview {
    zoom 0.35
    workspace-shadow {
        softness 50
        spread 10
        offset x=0 y=10
        color "#131313"
    }
    backdrop-color "#1e1e2e00";
}

cursor {
    xcursor-theme "Bibata-Material-Noir-Light"
    xcursor-size 26 
}

layout {
    gaps 5
    background-color "transparent"

    center-focused-column "never"

       preset-column-widths {
        proportion 0.25
        proportion 0.5
        proportion 0.75
    }
       preset-window-heights {
        proportion 0.25
        proportion 0.5
        proportion 0.75
        proportion 1.0
    }
       default-column-width { proportion 0.5; }
       focus-ring {
          off
          width 1.5
        }
        border {
        on 
        width 2
        }
    shadow {
        on
           softness 40
           spread 6
           offset x=0 y=5
          }
}

animations {
    on

    workspace-switch {
        spring damping-ratio=1.0 stiffness=1000 epsilon=0.0001
    }

    window-open {
        duration-ms 135
        curve "ease-out-expo"
    }

    window-close {
        duration-ms 125
        curve "ease-out-quad"
    }

    horizontal-view-movement {
        spring damping-ratio=1.0 stiffness=800 epsilon=0.0001
    }

    window-movement {
        spring damping-ratio=1.0 stiffness=800 epsilon=0.0001
    }

    window-resize {
        spring damping-ratio=1.0 stiffness=800 epsilon=0.0001
    }

    config-notification-open-close {
        spring damping-ratio=0.6 stiffness=1000 epsilon=0.001
    }

    exit-confirmation-open-close {
        spring damping-ratio=0.6 stiffness=500 epsilon=0.01
    }

    screenshot-ui-open {
        duration-ms 200
        curve "ease-out-quad"
    }

    overview-open-close {
        spring damping-ratio=1.0 stiffness=800 epsilon=0.0001
    }

    recent-windows-close {
        spring damping-ratio=1.0 stiffness=800 epsilon=0.001
    }
}
