spawn-at-startup "/home/reval/.local/bin/defbar.sh"
spawn-at-startup "awww-daemon"
spawn-at-startup "sh" "-c" "awww-daemon \"$(cat $HOME/.config/wallpaper)\""
spawn-at-startup "dunst"
spawn-at-startup "clipse" "-listen"
spawn-at-startup "/home/reval/.local/bin/gamma.sh"
spawn-at-startup "xwayland-satellite"
spawn-at-startup "/home/reval/.local/bin/sleep.sh"
// spawn-at-startup "/home/reval/.local/bin/todo-daemon"
