spawn-at-startup "awww-daemon"
spawn-at-startup "sh" "-c" "awww-daemon \"$(cat $HOME/.config/wallpaper)\""
spawn-at-startup "lxpolkit"
// spawn-at-startup "clipse" "-listen"
spawn-sh-at-startup "gammastep -l -6.2:106.8 -t 5500:3500"
spawn-at-startup "xwayland-satellite"
spawn-at-startup "~/.local/bin/sleep.sh"
spawn-sh-at-startup "~/.local/bin/media.sh"
spawn-at-startup "wl-paste" "--type" "text" "--watch" "cliphist" "store" 
spawn-at-startup "wl-paste" "--type" "image" "--watch" "cliphist" "store"
spawn-sh-at-startup "QS_NO_RELOAD_POPUP=1 quickshell --daemonize"			
